/* Общие стили кнопки */
.ctaButton {
  padding: 12px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none !important;
  transition: all 0.3s ease-out;
  border-radius: 6px;
}

/* Стили контейнера */
.container {
  margin-bottom: 24px;
  margin-top: 12px;
}

/* Стили для светлой темы */
[data-theme="light"] .ctaButton {
  color: black; /* Цвет текста */
  background-color: #ffffff; /* Фоновый цвет */
  border: 1px solid #000000; /* Граница */
}

[data-theme="light"] .ctaButton:hover {
  background-color: #e0e0e0; /* Светлее при наведении */
}

/* Стили для темной темы */
[data-theme="dark"] .ctaButton {
  color: white; /* Цвет текста для темной темы */
  background-color: var(--ifm-color-primary-dark); /* Фоновый цвет */
  border: 1px solid #000000; /* Граница для темной темы */
}

[data-theme="dark"] .ctaButton:hover {
  background-color: #333333; /* Темнее при наведении */
}
