---
title: 'RPC, API, gRPC'
sidebar_position: 6
hide_title: true
hide_table_of_contents: false
description: ''
chain_name: '{{ chain_name }}'
scope: '{{ scope }}'
chain_id: '{{ chain_id }}'
binary_version: '{{ version }}'
icon_url: '{{ chain_icon }}'
---

import PageTitle from "@site/src/components/PageTitle";
import Endpoints from "@site/src/components/Endpoints";

<PageTitle
  iconUrl="img/{{ chain_icon }}"
  title="{{ chain_name }} NODERS Public Endpoints"
  chainId="{{ chain_id }}"
  version="{{ version }}"
/>

<Endpoints
  api="{{ endpoint_api }}"
  rpc="{{ endpoint_rpc }}"
  grpc="{{ endpoint_grpc }}"
  jsonRpc="{{ endpoint_jrpc }}"
/>
