/* Базовые стили */
.cardContainer {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  transition: background-color 0.2s, box-shadow 0.2s, border-color 0.2s;
  height: 170px;
  overflow: hidden;
  padding: 18px 18px 0px 18px;
}

@media screen and (max-width: 768px) {
  .cardContainer {
    width: 100%;
  }
}

.cardLink {
  display: block;
  padding: 16px;
  text-decoration: none;
}

.cardHeader, .cardBody {
  transition: color 0.2s;
}

.cardIcon, .emojiIcon {
  margin-right: 8px;
  background-color: transparent;
}

.emojiIcon {
  font-size: 24px;
  align-self: center;
}

.cardHeader h3 {
  margin: 0;
}

/* Hover effects */
.cardContainer:hover {
  box-shadow: 0 1px 10px rgb(255, 255, 255);
}

.cardLink:hover {
  text-decoration: none;
}

/* Стили для темной темы */
[data-theme="dark"] .cardContainer {
  background-color: #2c2c2c; /* Темный фон для темной темы */
  border: 1px solid #3b3b3b; /* Начальная граница для темной темы */
  transition: border-color 0.3s ease; /* Плавный переход для границы */
}

[data-theme="dark"] .cardContainer:hover {
  border-color: #ffffff; /* Белая обводка при наведении */
}

[data-theme="dark"] .cardHeader,
[data-theme="dark"] .cardBody {
  color: #ffffff; /* Белый цвет текста */
  transition: font-weight 0.2s ease, text-shadow 0.2s ease; /* Плавные переходы для текста */
}

[data-theme="dark"] .cardContainer:hover .cardHeader,
[data-theme="dark"] .cardContainer:hover .cardBody {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.5); /* Подсветка текста при наведении */
}

/* Стили для светлой темы */
[data-theme="light"] .cardContainer {
  background-color: #ffffff;
  border: 1px solid #ffffff; /* Измените это значение, если нужен другой цвет обводки */
}

[data-theme="light"] .cardContainer:hover {
  border-color: #000000; /* Черная обводка при наведении */
}

[data-theme="light"] .cardHeader,
[data-theme="light"] .cardBody,
[data-theme="light"] .cardContainer:hover .cardHeader,
[data-theme="light"] .cardContainer:hover .cardBody {
  color: #000000; /* Черный цвет текста */
}
