/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 3rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Logo */

.logoContainer {
  position: relative;
  width: 250px; /* фиксированная ширина */
  height: 250px; /* фиксированная высота */
  margin: 155px auto 0;
  margin-bottom: 50px;
  /* добавляем отступ сверху, авто-маргины по бокам для центрирования, 0 внизу */
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Header Hero */

.HeaderHero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh; /* Было 95vh, теперь min-height, чтобы подстроиться под контент */
}

.HeaderHero .title {
  font-size: 48px;
  color: var(--brand);
  line-height: 1;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 500;
}

.HeaderHero .tagline {
  font-size: 24px;
  line-height: 1.3;
  color: white;
  font-weight: 500;
  text-align: center;
}

[data-theme='light'] .HeaderHero .tagline {
  font-size: 24px;
  line-height: 1.3;
  color: #000000;
  font-weight: 500;
  text-align: center;
}

.HeaderHero .buttons {
  margin-top: 40px;
}

.HeaderHero .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 481px) {
  .HeaderHero .title {
    display: flex;
    justify-content: center;
    font-size: 24px;
  }
  .HeaderHero .column.last {
    text-align: center;
  }
}

@media only screen and (max-width: 760px) {
  .HeaderHero .title {
    font-size: 42px;
  }

  .HeaderHero .tagline {
    font-size: 18px;
  }

  .HeaderHero .socialLinks {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 481px) {
  .HeaderHero .title {
    font-size: 30px;
  }

  .HeaderHero .tagline {
    font-size: 22px;
  }

  .HeaderHero .socialLinks {
    margin-top: -2rem;
  }
}

/* Section */
.Section {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow-x: hidden;
}

.Section + .Section {
  border-top: 1px solid var(--ifm-table-border-color);
}

.Section.tint {
  background-color: var(--ifm-menu-color-background-active);
}

.Section.dark {
  background-color: var(--dark);
}

/* ActionButton */

/* ActionButton */

.ActionButton {
  padding: 0.40rem 1.25rem;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none !important;
  border: 1px solid transparent; /* Initialize with a transparent border */
  transition: all 0.5s ease-out;
  border-radius: 25px;
}

.ActionButton.primary {
  margin-right: 5px;
  color: #ffffff;
  background-color: #3058e3;
  border: 1px solid #3058e3; /* Match the border color to background */
}

/* Maintain the color scheme on hover, without layout shift */
[data-theme='dark'] .ActionButton.primary:hover {
  color: #ffffff;
  background-color: rgba(25, 25, 25, 0.47);
  border-color: #3058e3; /* Make the border white on hover */
}

.ActionButton.secondary {
  margin-left: 5px;
  color: #ffffff;
  background-color: transparent; /* Keep background transparent */
  border: 1px solid #ffffff; /* Match the border color to the original */
}

/* Maintain the color scheme on hover, without layout shift */
[data-theme='dark'] .ActionButton.secondary:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(25, 25, 25, 0.67); /* Background color matches border */
  border-color: #3058e3; /* Border becomes white */
}

[data-theme='light'] .ActionButton.primary {
  margin-right: 5px;
  color: #ffffff;
  background-color: #3058e3;
  border: 1px solid transparent; /* Keep transparent border */
}

/* For light theme, keep the hover effects the same */
[data-theme='light'] .ActionButton.primary:hover {
  color: #3058e3;
  background-color: #ffffff;
  border-color: #3058e3; /* Just change border color, no layout shift */
}

[data-theme='light'] .ActionButton.secondary {
  margin-left: 5px;
  color: #191919;
  border: 1px solid rgba(25, 25, 25, 0.67); /* Keep the initial border color */
}

/* For light theme, keep the hover effects the same */
[data-theme='light'] .ActionButton.secondary:hover {
  color: #3058e3;
  background-color: rgb(255, 255, 255);
  border-color: #3058e3; /* Just change border color, no layout shift */
}
