/* Общие стили */
.sampleAppCard {
  display: flex;
  min-width: 300px;
  height: 350px;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  text-decoration: none;
}

.cardImage {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.cardImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cardBody {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardBody h2 {
  margin-bottom: 10px;
  font-size: 16px;
}

/* underline animation */
.cardBody h2 a {
  position: relative;
  text-decoration: none;
}

.cardBody h2 a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cardBody h2 a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.cardBody p {
  font-size: 14px;
}

.tagSection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  font-size: 0.675rem;
  padding: 0px 8px;
  border-radius: 12px;
  align-items: center;
}

/* Стили для темной темы */
[data-theme="dark"] .sampleAppCard {
  background-color: rgb(36, 37, 38); /* Темный фон для карточки */
  box-shadow: 0px 4px 10px rgb(255, 255, 255); /* Светлая тень для контраста */
}

[data-theme="dark"] .cardImage {
  border-bottom: 1px solid #ffffff; /* Белая граница внизу изображения */
}

[data-theme="dark"] .cardBody h2,
[data-theme="dark"] .cardBody h2 a {
  color: #ffffff; /* Белый цвет текста для заголовков и ссылок */
  transition: font-weight 0.3s ease; /* Плавное изменение жирности текста */
}

[data-theme="dark"] .cardBody h2 a:after {
  background-color: #ffffff; /* Белый цвет подчеркивания ссылок */
  transition: transform 0.3s ease; /* Плавное изменение трансформации для эффекта подчеркивания */
}

[data-theme="dark"] .cardBody h2:hover,
[data-theme="dark"] .cardBody h2 a:hover {
  font-weight: bold; /* Жирный текст при наведении */
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.5); /* Подсветка текста для лучшей видимости */
}

[data-theme="dark"] .cardBody p {
  color: #eee; /* Светло-серый цвет текста для основного текста */
}

[data-theme="dark"] .tag {
  color: #ffffff; /* Белый цвет текста для тегов */
  border: 1px solid #ffffff; /* Белая граница для тегов */
}

/* Стили для светлой темы */
[data-theme="light"] .sampleAppCard {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

[data-theme="light"] .cardImage {
  border-bottom: 1px solid #000000;
}

[data-theme="light"] .cardBody h2,
[data-theme="light"] .cardBody h2 a,
[data-theme="light"] .cardBody h2 a:after {
  color: var(--ifm-color-primary);
  background-color: var(--ifm-color-primary);
}

[data-theme="light"] .cardBody p {
  color: #000000; /* Черный цвет текста */
}

[data-theme="light"] .tag {
  color: #000000; /* Черный цвет текста для тегов */
  border: 1px solid #000000; /* Черная граница для тегов */
}
