/* Базовые стили */
.cardContainer {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  background-color: var(--card-background);
  border: 1px solid transparent; /* Используем прозрачную границу для начального состояния */
  transition: background-color 0.2s, box-shadow 0.2s, border-color 0.2s;
  height: auto;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .cardContainer {
    width: 100%;
  }
}

.cardLink {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding: 22px;
  align-items: center;
}

.cardHeaderText {
  font-size: 18px;
  font-weight: bold;
  transition: color 0.2s; /* Добавляем свойство перехода */
}

.cardIcon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

/* Наведение */
.cardContainer:hover {
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.3); /* Светлая тень при наведении */
}

.cardLink:hover {
  text-decoration: none;
}

/* Стили для светлой темы */
[data-theme="light"] .cardContainer {
  --card-background: #ffffff; /* Белый фон для светлой темы */
}

[data-theme="light"] .cardContainer:hover {
  border-color: #000000; /* Черная обводка для светлой темы */
}

[data-theme="light"] .cardHeaderText {
  color: #000000; /* Черный текст в светлой теме */
}

/* Стили для темной темы */
[data-theme="dark"] .cardContainer {
  --card-background: #2c2c2c; /* Темный фон для темной темы */
  --card-border-color: #3b3b3b;
}

[data-theme="dark"] .cardContainer:hover {
  border-color: #ffffff; /* Белая обводка для темной темы */
}

[data-theme="dark"] .cardHeaderText {
  color: #ffffff; /* Белый текст в темной теме */
  transition: font-weight 0.2s ease-in-out; /* Плавное изменение жирности текста */
}

/* Добавляем эффекты при наведении и нажатии для текста в темной теме */
[data-theme="dark"] .cardHeaderText:hover,
[data-theme="dark"] .cardHeaderText:active {
  font-weight: bold; /* Делаем текст жирнее */
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.7); /* Добавляем подсветку */
}
