.navbar-social-links {
  display: flex;
  align-items: center;
  gap: 12px;
}

.social-link {
  width: 24px;
  height: 24px;
  color: var(--ifm-navbar-link-color);
  transition: all 0.3s ease;
}

.social-link:hover {
  color: var(--ifm-navbar-link-hover-color);
}
